<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.wipro.testcases.TC05</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>step03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>step04</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startApp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeApp</td>
<td>&nbsp;</td></tr>
</table>
