<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:41:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.startApp()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:00</td>   <td>6117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step01()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step01</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:05</td>   <td>11286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step02()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step02</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:07</td>   <td>13163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step03()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step03</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:10</td>   <td>16614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step04()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step04</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:16</td>   <td>21729</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step05()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step05</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:17</td>   <td>23414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step06()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step06</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:19</td>   <td>25001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step07()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step07</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:32</td>   <td>38164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step08()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step08</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:34</td>   <td>40276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step09()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">step09</td> 
  <td>main@1757880885</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:42:39</td>   <td>44988</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.closeApp()[pri:0, instance:com.wipro.testcases.TC05@2d2ffcb7]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1757880885</td>   <td></td> </tr>
</table>
