<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:46:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04.AfterClass()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:45:40</td>   <td>-48016</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04.BeforeClass()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:45:45</td>   <td>-42581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test1()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test1</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:45:50</td>   <td>-37253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test2()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test2</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:45:55</td>   <td>-32963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test3()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test3</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:45:58</td>   <td>-29925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test4()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test4</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:46:03</td>   <td>-24320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test5()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test5</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:46:06</td>   <td>-21768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test6()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test6</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:46:18</td>   <td>-9323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test7()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test7</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="8bd0de">  <td>19/11/06 09:46:22</td>   <td>-5188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test8()[pri:0, instance:com.wipro.testcases.TC04@236e3f4e]">Test8</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:47:12</td>   <td>44752</td> <td title="&lt;&lt;Base.afterSuit()[pri:0, instance:com.wipro.testbase.Base@5552768b]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="98f367">  <td>19/11/06 09:44:33</td>   <td>-114621</td> <td title="&gt;&gt;Base.beforeSuit()[pri:0, instance:com.wipro.testbase.Base@5552768b]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:45:04</td>   <td>-83499</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.closeApp()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:39</td>   <td>-48590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.closeApp()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:47:12</td>   <td>44216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.closeApp()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:33</td>   <td>-114590</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.startApp()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:05</td>   <td>-82761</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.startApp()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:28</td>   <td>512</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.startApp()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">&gt;&gt;startApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:40</td>   <td>-107866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step01()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step01</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:10</td>   <td>-77301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step01()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step01</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:34</td>   <td>5970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step01()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step01</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:45</td>   <td>-102194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step02()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step02</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:16</td>   <td>-71741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step02()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step02</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:39</td>   <td>11443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step02()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step02</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:49</td>   <td>-98377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step03()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step03</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:18</td>   <td>-70058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step03()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step03</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:41</td>   <td>13090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step03()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step03</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:53</td>   <td>-94708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step04()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step04</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:20</td>   <td>-67165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step04()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step04</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:44</td>   <td>15964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step04()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step04</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:56</td>   <td>-91997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step05()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step05</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:25</td>   <td>-62391</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step05()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step05</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:49</td>   <td>21111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step05()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step05</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:59</td>   <td>-88801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step06()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step06</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:29</td>   <td>-58764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step06()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step06</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:50</td>   <td>22822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step06()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step06</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="a1e9a9">  <td>19/11/06 09:44:59</td>   <td>-88698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.step07()[pri:0, instance:com.wipro.testcases.TC01@762ef0ea]">step07</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:34</td>   <td>-53864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step07()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step07</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:46:52</td>   <td>24388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step07()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step07</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>19/11/06 09:45:36</td>   <td>-51262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.step08()[pri:0, instance:com.wipro.testcases.TC02@65b3f4a4]">step08</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:47:05</td>   <td>37442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step08()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step08</td> 
  <td>main@27084827</td>   <td></td> </tr>
<tr bgcolor="7a85e1">  <td>19/11/06 09:47:07</td>   <td>39570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.step09()[pri:0, instance:com.wipro.testcases.TC05@3c947bc5]">step09</td> 
  <td>main@27084827</td>   <td></td> </tr>
</table>
